
*{
    margin: 0%;
    padding: 0%;
}
.hill-main{
   width: 100%;
    height: 500px;
}
.hillstations-imges{
    margin-top: 154px;
    height: 266px;
    width: 491px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
         border-radius: 20px 70px 20px 70px ;


}
.hillstations-imges:hover{
        transform: scale(1.2);

}
.hill-disc{
    margin-top: 154px;
}
.hill-disc:hover{
 border: 2px solid grey;
color: red;
}