
 @import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Montagu Slab', serif;
    
    
}
/* .navbar{
  background-color: violet;
  color: white;
} */

/* carousel styling */
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
.carousel-caption{
  padding-bottom: 10rem;
  font-size: 40px;
}

/* carousel styling */





/* dropdown styling */
.navbar{
  background-color: #70c299
}

.navbar a{
  color: white;
}
.navbar-nav{
  margin: auto;
}
.dropbtn li{
  margin: auto;
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 10px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: red; color: white;}

.dropdown:hover .dropdown-content {
  display: block;
}



/* dropdown styling */




/* kannur discription section styling (first black div) */


.kannur-discription{
  height: 150vh;
  width: 100%;
  border-bottom-right-radius: 1000px;
 

}

  
  .about-kannur{
      font-size: 20px;
  }
 
  .map{
    height: 317px;
     margin-top: 187px;
     margin-left: -1px;

}
    .kannur-txt {
        font-size: 90px;
        font-weight: bolder;
        
    }
    
    .kannur-sub{
        letter-spacing: 7px;
        margin-bottom: -22px;
    }
  
    .k{
        font-size: 46px;
    }
    .kannur-disc{
      margin-top: 147px;
    }
  /* kannur discription section styling (first black div) */

  
/* place details styling here */
.placecard-row{
  margin-left: 69px;
}
.find-dest{
    margin-bottom: 100px;
    font-family: 'Ceviche One', cursive;
    border: solid 10px red;
}
.find-dest:hover{
  background-color: red;
  color: white;
}
.button-places-discription{
    border: solid red 1px;
    background-color: red;
    color: white;
    margin-left: 25%;
}
.button-places-discription:hover{
    background-color: transparent;
    color: red;
   
 
}

.card:hover{
  background-color:seashell;
  border: solid 35px white;
 
}
.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 20px solid white;
}
.card-title{
  margin-left: 67px;
}

/* place details styling here */



/* image gallery styling */





/* image gallery styling */


  /*----  Main Style  ----*/
#cards_landscape_wrap-2{
    text-align: center;
    background: #F7F7F7;
    border-top-right-radius: 1000px;
    padding-top: 10px;
  }
  #cards_landscape_wrap-2 .container{
    padding-top: 80px; 
    padding-bottom: 100px;
  }
  #cards_landscape_wrap-2 a{
    text-decoration: none;
    outline: none;
  }
  #cards_landscape_wrap-2 .card-flyer {
    border-radius: 5px;
  }
  #cards_landscape_wrap-2 .card-flyer .image-box{
    background: #ffffff;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
    border-radius: 5px;
  }
  #cards_landscape_wrap-2 .card-flyer .image-box img{
    -webkit-transition:all .9s ease; 
    -moz-transition:all .9s ease; 
    -o-transition:all .9s ease;
    -ms-transition:all .9s ease; 
    width: 100%;
    height: 200px;
  }
  #cards_landscape_wrap-2 .card-flyer:hover .image-box img{
    opacity: 0.7;
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.15);
  }
  #cards_landscape_wrap-2 .card-flyer .text-box{
    text-align: center;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box .text-container{
    padding: 30px 18px;
  }
  #cards_landscape_wrap-2 .card-flyer{
    background: #FFFFFF;
    margin-top: 50px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
  }
  #cards_landscape_wrap-2 .card-flyer:hover{
    background: #fff;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 50px;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box p{
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px; 
    font-size: 14px;
    letter-spacing: 1px;
    color: #000000;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box h6{
    margin-top: 0px;
    margin-bottom: 4px; 
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Black', sans-serif;
    letter-spacing: 1px;
    color: #00acc1;
  }







  